@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 35, 48, 47;
  --background-start-rgb: 243, 248, 247;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 243, 248, 247;
    --background-start-rgb: 35, 48, 47;
    --background-end-rgb: 52, 71, 70;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

